.about {
  padding-top: 14rem; 
  padding-bottom: 14rem;
}

.about h1 {
  color: #2d2e32;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 800;
}

.about p {
  font-size: 1.6rem;
  color: #555454fa;
  margin: 2rem 0;
}